<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/flights/flights-list/flights-list.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <div class="main">
        <div class="flights-nav">
            <input hidden type="text" id="searchInfo" value="<%= JSON.stringify(searchInfo)%>">
            <input type="text" id="flightType" value="<%= searchInfo.flightType%>">
            <input type="text" id="departureFrom" value="<%= searchInfo.departureFrom%>">
            <input type="text" id="arrivalTo" value="<%= searchInfo.arrivalTo%>">
            <input type="text" id="departDate" value="<%= searchInfo.departDate%>">
            <input type="text" id="returnDate" value="<%= searchInfo.returnDate%>">
            <input type="text" id="adults" value="<%= searchInfo.adults%>">
            <input type="text" id="children" value="<%= searchInfo.children%>">
            <input type="text" id="baby" value="<%= searchInfo.baby%>">
            <input type="text" id="classType" value="<%= searchInfo.classType%>">
            <button class="btn btn-primary filter-btn" value="1">LOC</button>
            <button class="btn btn-primary filter-btn" value="2">LOC</button>
            <button class="btn btn-primary filter-btn" value="3">LOC</button>
        </div>
        <div class="flights-list-body container">
            <div class="flights-filter">
                <div class="trip-time-filter">
                    <div class="title">Lịch trình</div>
                    <div class="departure-time-filter">
                        Khởi hành từ Hà Nội (HAN)
                        <div class="form-group">

                            <input type="range" class="form-control-range" id="formControlRange" value="0">
                            <label for="formControlRange">Từ 00:00 đến 24:00</label>
                        </div>
                    </div>
                    <div class="arrival-time-filter">
                        Đến Da Nang (DAD)
                        <div class="form-group">

                            <input type="range" class="form-control-range" id="formControlRange" value="0">
                            <label for="formControlRange">Từ 00:00 đến 24:00</label>

                        </div>
                    </div>
                </div>
                <hr>
                <div class="airlines-filter">
                    <div class="title">Hãng hàng không</div>
                    <input type="checkbox" id="airline1" name="airline1" value="1">
                    <label for="airline1"> Vietnam Airlines</label><br>
                    <input type="checkbox" id="airline2" name="airline2" value="2">
                    <label for="airline2"> Vietjet Air</label><br>
                    <input type="checkbox" id="airline3" name="airline3" value="3">
                    <label for="airline3"> Bamboo Airways </label><br>
                </div>
                <hr>
                <div class="stopover-filter">
                    <div class="title">Điểm dừng</div>
                    <input type="checkbox" id="stopover1" name="stopover1" value="0">
                    <label for="0"> Bay Thẳng</label><br>
                    <input type="checkbox" id="stopover2" name="stopover2" value="1">
                    <label for="airline2"> 1 Điểm Dừng</label><br>
                    <input type="checkbox" id="stopover3" name="stopover3" value="2">
                    <label for="airline3"> >2 Điểm Dừng </label><br>
                </div>
                <hr>
                <div class="price-filter">
                    <div class="title">Giá</div>
                    <div class="form-group">
                        <input type="range" class="form-control-range" name="price-filter" id="formControlRange"
                            value="100">
                        <label for="formControlRange">Lên đến 14,000,000 ₫</label>
                    </div>
                </div>
                <hr>
                <div class="flight-time-filter">
                    <div class="title">Thời gian</div>
                    <div class="form-group">

                        <input type="range" class="form-control-range" id="formControlRange" value="100">
                        <label for="formControlRange">Dưới 26 tiếng</label>
                    </div>
                </div>

            </div>
            <div class="flights-list">
                <div class="flight-list-header"></div>
                <div class="flights-list-content">

                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        let searchInfoElement = document.querySelector('#searchInfo');
        let searchInfo = JSON.parse(searchInfoElement.value);
        let getTicketsList = async () => {
            $.ajax({
                url: "/flights/tickets-search-api",
                type: "get", //send it through get method
                data: searchInfo,
                success: function (data) {
                    console.log(">>>CHECK DATA")
                    console.log(data);
                    renderTicketList(data);
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });

        }

        function start() {
            getTicketsList();
        }
        start();
        function renderTicketList(data) {
            let html = '';
            for (let item of data.ticketsList) {
                html += `<h2>${item.tenHHK}</h2><p>${item.giaVe[0].giaHienTai}</p>`
            }
            document.querySelector('.flights-list-content').innerHTML = html;
        }

        let filterBtns = document.querySelectorAll('.airlines-filter input');
        for (let item of filterBtns) {
            item.oninput = function () {
                getTicketsListAirlinesFilter(item.value);
            }
        }
        function getTicketsListAirlinesFilter(idHHK) {
            $.ajax({

                url: "/flights/tickets-airlines-filter",
                type: "get", //send it through get method
                data: {
                    idHHK: idHHK,
                },
                success: function (data) {
                    alert('OK');
                },
                error: function (xhr) {
                    alert('NO');
                    //Do Something to handle error
                }
            });
        }
    </script>

</body>

</html>